<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat application</title>
    <link rel="stylesheet" href="style.css">
    
</head>
    <div class="complete">
        <div class="chat_header">
             <h1>wassup</h1>
        </div>
        <div class="message_section">
            
        </div>
    </div>
    <div class="text_area">
        <textarea name='text' placeholder="enter your text here"></textarea>
        
    </div>
    <div class="button">
          <button type="button" value="submit" id="bttn" name="submit" placeholder="enter your text here">SEND</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
</body>
</html>